{
  "extends": [
    "plugin:import/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "overrides": [
    {
      "files": ["*.js", "*.jsx"],
      "rules": {
        "import/order": [
          "error",
          {
            "groups": [
              ["builtin", "external"],
              "internal",
              ["parent", "sibling"],
              "index"
            ],
            "newlines-between": "always",
            "pathGroups": [
              {
                "pattern": "@/**",
                "group": "internal",
                "position": "after"
              }
            ]
          }
        ]
      }
    }
  ]
}
